
pandas==2.3.3
scikit-learn
xgboost
lightgbm
streamlit
python-dotenv
requests
matplotlib
seaborn
jupyter
pycatch22
pyarrow
entsoe-py
holidays
tensorflow==2.16.2
keras==3.13.2
numpy==1.26.4
fastapi
uvicorn
# tensorflow-metal; sys_platform == "darwin" and platform_machine == "arm64"
google-cloud-storage
yfinance
